.header-element{
    background: red;
    width: 200px;
    height: 200px;
    border: 30px solid white;
    text-align: center;
    line-height:  240px;
    box-sizing: border-box;
    border-radius:10px,
}